<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hider">

 <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
 <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
 <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
 <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
 <uses-permission android:name="android.permission.RECEIVE_LOCKED_BOOT_COMPLETED" />
	
    <application
        android:label="EphemeralWorkProfile"
		android:directBootAware="true"
		android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
		
	<receiver android:name=".NucleusReceiver" 
	android:exported="true"
	android:label="Receiver"
	android:enabled="false"
	android:directBootAware="true">
     <intent-filter android:priority="999">
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
     </intent-filter>
	<intent-filter android:priority="999">
        <action android:name="android.intent.action.MANAGED_PROFILE_UNLOCKED" />
     </intent-filter>
    </receiver>

		<activity android:name=".SetPasswordActivity"
            android:exported="true"
			android:taskAffinity=""
			android:label="SetPassword"
		    android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".DestroyActivity"
            android:exported="true"
			android:taskAffinity=""
			android:label="Destroy🔥"
			android:showWhenLocked="true"
		    android:excludeFromRecents="true"
			android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity android:name=".StartAppsActivity"
            android:exported="true"
			android:taskAffinity=""
			android:label="StartApps"
		    android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
    <activity android:name=".MainActivity"
            android:exported="true"	
		    android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


		<activity android:name=".SelectActivity"
            android:exported="true"
			android:label="SelectKeyboard"
			android:enabled="true"
			android:taskAffinity=""
		    android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".DisableActivity"
            android:exported="true"
			android:label="DisableApps"
			android:enabled="true"
			android:taskAffinity=""
		    android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
	        <service
    android:name=".WatcherService"
    android:enabled="true"
    android:exported="false"
    android:directBootAware="true"
    android:foregroundServiceType="systemExempted" />
		
        <receiver android:name=".MyDeviceAdminReceiver"
            android:label="Admin"
			android:directBootAware="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data android:name="android.app.device_admin" 
			android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
				<action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
